* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Changes the font size and positioning of the links in the header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Changes the font, size and positioning of the links*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/**/
ul {
    list-style-type: none;
    text-decoration-style: none;
}
/*Makes the list of links go horizontal instead of vertical*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(1, 5, 58);
    color: #ffffff;
}
/*Changes the font size and positioning of the links in the header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Changes the font, size and positioning of the links*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/**/
.header div ul {
    list-style-type: none;
}

/*Keeps the links white*/
.header a {
    color: #ffffff;
}

/*Sets the positioning of the first h2 tag*/
.left-top {
    float: left;
    padding-right: 100px;
    padding-left: 40px;
    width: 180px;
    height: 331px;
    text-align: center;  
    text-justify: center;
}

/*Sets the positioning of the second h2 tag*/
.left-middle {
    float: left;
    padding-right: 40px;
    padding-left: 40px;
    width: 180px;
    height: 900px;
    text-align: center;  
    text-justify: center;
}

/*Sets the positioning of the third h2 tag*/
.left-bottom {
    float: left;
    padding-right: 40px;
    padding-left: 40px;
    width: 180px;
    height: 331px;
    text-align: center;  
    text-justify: center;
}

body {
    background-color: rgb(191, 234, 245)
}

.small-image {
    position: relative;
    width: 400px;
    height: 400px;
}

.big-image {
    width: 1612px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.portrait {
    width: 255px;
    height: 330px;
    position: relative;
}

img {
    max-width: 100%;
}

.container {
    position: relative;
    text-align: center;
}

.container img {
    max-width: 100%
}

.photo-text1 {
    position: absolute;
    bottom: 556px;
    left: 185px;
    background-color: coral;
    color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

#about-me {
    display:flex;
    flex-direction: row;
}

.photo-text2 {
    position: absolute;
    bottom: -172px;
    left: 185px;
    background-color: coral;
    color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.photo-text3 {
    position: absolute;
    bottom: -172px;
    left: 589px;
    background-color: coral;
    color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.photo-text4 {
    position: absolute;
    bottom: -172px;
    left: 993px;
    background-color: coral;
    color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.photo-text5 {
    position: absolute;
    bottom: -172px;
    left: 1397px;
    background-color: coral;
    color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

#contact-info div ul li {
    display: inline-block;
    margin-left: 25px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact-info a {
    color: white;
}
